<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../dist/css/index.css">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      <navbar></navbar>
    </header>
    <div class="d-flex connect justify-content-around">
      <div class="ConnectProf">
        <h3>Connexion Professeur</h3>
        <button class="btn btn-primary">Connecter</button>
        <form action="index.html" method="post">
          <label for="">Login:</label>
          <div class="">
            <input class="form-control" type="text" name="" value="">
          </div>
          <label for="">Mot de passe:</label>
          <div class="">
            <input type="text" name="" class="form-control" value="">
          </div>
          <div class="">
            <input class="btn-primary btn" type="submit" name="" value="">
          </div>
        </form>

      </div>
      <div class="ConnectEtud">
        <h3>Connexion Etudiant</h3>
        <button class="btn btn-primary">Connecter</button>
        <form class="" action="index.html" method="post">
          <label for="">Login:</label>
          <div class="">
            <input type="text" name="" class="form-control" value="">

          </div>
          <label for="">Mot de passe:</label>
          <div class="">
            <input type="text" name="" class="form-control" value="">
          </div>
          <div class="">
            <input type="submit" class="btn-primary btn" name="" value="">
          </div>
        </form>
      </div>
    </div>
    <foot></foot>
    <script type="text/javascript" src="../dist/js/index.js"></script>
  </body>
</html>
